@using System.Web.Optimization
@using System.Security.Policy
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gulf Ruby</title>
    <link href="~/Content/Layout.css" rel="stylesheet" media="screen">
    @* <link rel="stylesheet" href="css/amelia-bootstrap.min.css">*@
    @Styles.Render("~/Content/css")

</head>


<body data-ng-app="appMain" >
    @Html.Partial("~/Views/Shared/_TopBar.cshtml")  
    <div class="wrapper">
        <div class="container" >
            <section>
                @RenderBody()
            </section>
            <div class="push"></div>
        </div>
    </div>
    @*<footer class=" footer container panel-footer well">*@
    @Html.Partial("~/Views/Shared/_BottomBar.cshtml")
    @*</footer>*@
    <script type="text/javascript">
        window.GulfRuby = {};
        (function (cr) {
            var rootPath;
            cr.rootPath = rootPath;
        }(window.GulfRuby));
        GulfRuby.rootPath = '@Url.Content("~")';
        // alert(GulfRuby.rootPath);
    </script>

    <script src="~/Scripts/moment.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>


    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/loadingbar")
    @Scripts.Render("~/bundles/smarttable")


    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="@Url.Content("~/Scripts/App.js")" type="text/javascript"></script>


    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        @RenderSection("footerScript", required: false)
    </script>
</body>




@*<body>
        <div>
            @RenderBody()
        </div>
    </body>*@
</html>
